<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Deleted</title>
  </head>
  <body>
    <p> <%= @post.name %> was deleted </p>
    <a href="/posts">Return to Posts</a>
  </body>
</html>
