<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
  </head>
  <body>
    <a href="/posts/new">Create A New Post</a>

    <h1>Posts:</h1>
    <%@posts.each do |post|%>
    <h2> <a href= <%= "/posts/#{post.id}" %>> Post <%= post.id %> </a> </h2>
    <label> Name: <%= post.name %></label>
    <p>Content: <%= post.content %></p>
    <%end%>

  </body>
</html>
