<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create A New Post</title>
  </head>
  <body>

    <form action="/posts" method="post">
      <p> Name:<input type="text" name="name"/> </p>
      <p> Content:<textarea name="content"> </textarea> </p>
      <button value="submit"> submit </button>
    </form>

  </body>
</html>
